@using MyResources = mm_contest.Web.Resources._HomeResources

@{
    ViewBag.Title = MyResources.Privacy_PageTitle;
}

<div class="sixteen columns">
@{
    if(Session["Culture"].ToString() == "fr-CA") {
      @RenderPage("privacy_fr.cshtml")

    } else {
      @RenderPage("privacy_en.cshtml")
        
    }
}
</div>