@using MyResources = mm_contest.Web.Resources._MessageResources
@using MyProperties = mm_contest.Properties.Settings

@{
    ViewBag.Title = MyResources.BallotError_PageTitle;
    ViewBag.Content = @MyResources.BallotError_Message.Replace("[admin@email.com]", @MyProperties.Default.AdminEmail);
}

<div id="message-block">
    <h1>@MyResources.WeAreSorry</h1>
    <p>@Html.Raw(ViewBag.Content)</p>
</div>
